---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import CorePage from "../layouts/CorePage.astro";

import "@fontsource/ibm-plex-sans/700.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/300.css";

const content = {
  title: SITE_TITLE,
  description: SITE_DESCRIPTION,
  pageTitle: "About",
  pageDescription: "Who I am and what I do.",
};
---

<CorePage content={content}>
  <section>
    <div class="font-ibm-plex-sans dark:text-slate-300">
      Hi! I'm William, a high school junior from the greater Seattle area in
      Washington state. I'm fascinated by most things STEM, but I'm particularly
      interested in math and computer science.

      <h1>Coding Background</h1>
    </div>
  </section>
</CorePage>
