---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeLink from '../components/HomeLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '@fontsource/josefin-sans/300.css';
import '@fontsource/inter/700.css';
import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/montserrat/700.css'
import '@fontsource/montserrat/400.css'
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-screen-lg dark:bg-slate-900">
		<div class="flex flex-col min-h-screen">
			<Header title={SITE_TITLE} />

			<main class="flex flex-col px-4 items-center mt-10 flex-1 justify-center">
				<div class="grid">
					<div class="flex items-center flex-col">
						<h1 class="font-bold text-5xl inline-block mb-2 leading-snug font-ibm-plex-sans">
							<span class="font-inter dark:text-slate-300">Hi! I'm </span>
							<span class="bg-gradient-to-br from-sky-400 to-fuchsia-400 text-transparent bg-clip-text">William Gvozdjak</span>
							<span class="font-bold text-4xl align-top leading-[4rem]">👋</span>
						</h1>
						<p class="font-ibm-plex-sans dark:text-slate-400 font-normal text-xl mb-6">
							I'm a high-school student, web developer, mathlete, and programmer.
						</p>
						<div class="flex flex-row font-medium font-ibm-plex-sans space-x-6 text-base">
							<a href="/about" class="px-6 py-3 bg-blue-600 hover:bg-blue-800 rounded text-slate-300 cursor-pointer shadow-lg transition duration-200">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-[17px] h-[17px] -ml-1 mb-[2px]">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
								</svg>
								About
							</a>
							<a href="#" class="px-6 py-3 bg-blue-600 hover:bg-blue-800 rounded text-slate-300 cursor-pointer shadow-lg transition duration-200">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-[17px] h-[17px] -ml-1 mb-[2px]">
									<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
								</svg>
								Projects
							</a>
							<a href="/blog" class="px-6 py-3 bg-blue-600 hover:bg-blue-800 rounded text-slate-300 cursor-pointer shadow-lg transition duration-200">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-[17px] h-[17px] -ml-1 mb-[2px]">
									<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
								</svg>
								Blog
							</a>
						</div>
						<div class="flex flex-col items-center">
							<img height="224" class="mt-6 h-56" src="/homepageImage.png" />
							<div class="mt-4 italic dark:text-slate-400 font-ibm-plex-sans text-sm">Illustration by <a class="text-blue-600 hover:text-blue-400 transition duration-200" href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a class="text-blue-600 hover:text-blue-400 transition duration-200" href="https://icons8.com/illustrations">Ouch!</a></div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>
