---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeLink from '../components/HomeLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '@fontsource/josefin-sans/300.css';
import '@fontsource/inter/700.css';
import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/montserrat/700.css'
import '@fontsource/montserrat/400.css'
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-screen-lg dark:bg-slate-900">
		<div class="flex flex-col">
			<Header title={SITE_TITLE} />

			<main class="flex flex-col px-4 items-center mt-20">
				<div class="grid">
					<div class="flex items-center flex-col">
						<h1 class="font-bold text-5xl inline-block mb-6 leading-snug font-ibm-plex-sans">
							<span class="font-inter dark:text-slate-300">Hi! I'm </span>
							<span class="bg-gradient-to-br from-sky-400 to-fuchsia-400 text-transparent bg-clip-text">William Gvozdjak</span>
							<span class="font-bold text-4xl align-top leading-[4rem]">👋</span>
						</h1>
						<p class="font-ibm-plex-sans dark:text-slate-400 font-normal text-xl">
							I'm a high-school student, web developer, mathlete, and programmer.
						</p>
					</div>

					<div class="flex flex-row mt-10 justify-center w-full">
						<div class="flex flex-col w-2/3 pr-6">
							<div class="flex flex-col mb-3">
								<a class="group hover:dark:border-white cursor-pointer border-solid border-[1px] dark:border-slate-300 px-4 py-3 rounded-lg font-ibm-plex-sans">
									<div class="inline-block">
										<h2 class="inline-block text-xl dark:text-slate-400 group-hover:dark:text-slate-200 mb-2">About</h2><br>
										<p class="inline-block dark:text-slate-400">An brief description of who I am and what I do!</p>
									</div>
								</a>
							</div>

							<div class="flex flex-col box-border mb-3">
								<a class="group hover:dark:border-white cursor-pointer border-solid border-[1px] dark:border-slate-300 px-4 py-3 rounded-lg font-ibm-plex-sans">
									<div class="inline-block">
										<h2 class="inline-block text-xl dark:text-slate-400 group-hover:dark:text-slate-200 mb-2">Projects</h2><br>
										<p class="inline-block dark:text-slate-400">Various projects that I've worked on.</p>
									</div>
								</a>
							</div>

							<div class="flex flex-col box-border">
								<a class="group hover:dark:border-white cursor-pointer border-solid border-[1px] dark:border-slate-300 px-4 py-3 rounded-lg font-ibm-plex-sans">
									<div class="inline-block">
										<h2 class="inline-block text-xl dark:text-slate-400 group-hover:dark:text-slate-200 mb-2">Blog</h2><br>
										<p class="inline-block dark:text-slate-400">All my thoughts in a blog.</p>
									</div>
								</a>
							</div>
						</div>
						
						<div class="w-1/3"><img src="/homepageImage2_cropped_65.png" /></div>
					</div>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>
