---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '@fontsource/josefin-sans/300.css';
import '@fontsource/inter/700.css';
import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/montserrat/700.css'
import '@fontsource/montserrat/400.css'
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-screen-lg dark:bg-slate-900">
		<div class="flex flex-col min-h-screen">
			<Header title={SITE_TITLE} />

			<main class="flex flex-col px-4 items-center mt-20">
				<div class="flex items-center flex-col">
					<h1 class="font-bold text-5xl inline-block mb-6 leading-snug font-ibm-plex-sans">
						<span class="font-inter dark:text-slate-300">Hi! I'm </span>
						<span class="bg-gradient-to-br from-sky-400 to-fuchsia-400 text-transparent bg-clip-text">William Gvozdjak</span>
						<span class="font-bold text-4xl align-top leading-[4rem]">👋</span>
					</h1>
					<p class="font-ibm-plex-sans dark:text-slate-400 font-normal text-xl">
						I'm a high-school student, web developer, mathlete, and programmer.
					</p>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>
