---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import '@fontsource/josefin-sans/300.css';
import '@fontsource/montserrat/400.css'
import '@fontsource/ibm-plex-sans/500.css'
---

<header class="flex my-0 mx-auto py-4 w-full font-ibm-plex-sans font-medium">
	<HeaderLink href="/">{SITE_TITLE}</HeaderLink>
	<nav class="items-center flex flex-1 justify-end">		
		<div class="float-right relative">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
		</div>
	</nav>
</header>
