---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import '@fontsource/josefin-sans/300.css';
---

<header class="py-4 flex w-full mb-4">
	<nav class="font-josefin font-black flex flex-1">
		<div class="relative float-left">
			<HeaderLink href="/">{SITE_TITLE}</HeaderLink>
		</div>
		
		<div class="float-right relative">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
		</div>
	</nav>
</header>
