---
import "@fontsource/ibm-plex-sans/500.css";
---

<a
  class="w-full rounded-lg border-[1px] border-solid px-6 py-3 font-ibm-plex-sans dark:border-slate-300"
>
  <p class="text-6xl"><slot /></p>
  <!---<slot name="description" class="text-lg"/>--->
</a>
