---
import "@fontsource/ibm-plex-sans/500.css";
---

<a
  class="w-full border-solid border-[1px] dark:border-slate-300 px-6 py-3 rounded-lg font-ibm-plex-sans"
>
  <p class="text-6xl"><slot /></p>
  <!---<slot name="description" class="text-lg"/>--->
</a>
