---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource/ibm-plex-sans/600.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/300.css'

export interface Props {
	content: {
		title: string;
		description: string;
        pageTitle: string;
        pageDescription: string
	};
}

const {
	content: { title, description, pageTitle, pageDescription },
} = Astro.props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="dark:bg-slate-900 mx-auto">
		<div class="max-w-screen-lg mx-auto"><Header /></div>
		
		<section class="w-full bg-sky-700 h-44 font-ibm-plex-sans">
			<div class="max-w-screen-lg mx-auto h-full">
				<div class="h-full flex justify-center px-4 flex-col">
					<h1 class="font-bold dark:text-slate-300 text-5xl">{pageTitle}</h1>
					<p class="font-normal italic text-xl dark:text-slate-400 mt-4">{pageDescription}</p>
				</div>
			</div>
		</section>

		<div class="max-w-screen-lg mx-auto mt-10">
			<main class="px-4">
				<slot />
				<Footer />
			</main>
		</div>
	</body>
</html>
